<%# locals: (claim_activity:) -%>

<h2 class="govuk-heading-m"><%= t(".providers") %></h2>

<h3 class="govuk-heading-s"><%= claim_activity.record.provider_name %></h3>

<%= govuk_table do |table| %>
  <% table.with_head do |head| %>
    <% head.with_row do |row| %>
      <% row.with_cell text: t(".claim_reference") %>
      <% row.with_cell text: t(".number_of_mentors") %>
      <% row.with_cell text: t(".claim_amount") %>
    <% end %>
  <% end %>

  <% table.with_body do |body| %>
    <% body.with_row do |row| %>
      <% row.with_cell text: govuk_link_to(claim_activity.record.reference, claims_support_claim_path(claim_activity.record)) %>
      <% row.with_cell text: claim_activity.record.mentors.count %>
      <% row.with_cell text: humanized_money_with_symbol(claim_activity.record.amount) %>
    <% end %>
  <% end %>
<% end %>
