<% content_for :page_title, @school_form.errors.any? ? t(".title_with_error") : t(".title") %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: new_placements_support_organisation_path) %>
<% end %>

<div class="govuk-width-container">
  <%= render AutocompleteSelectFormComponent.new(
    model: @school_form,
    scope: :school,
    url: check_placements_support_schools_path,
    data: {
      autocomplete_path_value: "/api/school_suggestions",
      autocomplete_return_attributes_value: %w[town postcode],
    },
    input: {
      value: @school_form.name,
      label: t(".title"),
      caption: t(".caption"),
      previous_search: @school_form.id,
    },
  ) %>

  <p class="govuk-body">
    <%= govuk_link_to(t(".cancel"), placements_support_organisations_path, no_visited_state: true) %>
  </p>
</div>
