<% if school_form.errors.any? %>
  <% content_for :page_title, t(".title_with_error", school_count: schools.count, search_param:) %>
<% else %>
  <% content_for :page_title, t(".title", school_count: schools.count, search_param:) %>
<% end %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: new_placements_support_school_path) %>
<% end %>

<div class="govuk-width-container">
  <%= render OptionsFormComponent.new(
    model: school_form,
    scope: :school,
    url: check_school_option_placements_support_schools_path,
    search_param:,
    records: schools,
    records_klass: "school",
    back_link: new_placements_support_school_path,
  ) %>

  <p class="govuk-body">
    <%= govuk_link_to(t(".cancel"), placements_support_organisations_path, no_visited_state: true) %>
  </p>
</div>
