<% content_for :page_title, title_with_error_prefix(
  t(".title"),
  error: current_step.errors.any?,
) %>

<%= form_for(current_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_collection_check_boxes(
        :phases,
        current_step.phases_for_selection,
        :name, :name,
        legend: { size: "l", text: t(".title"), tag: "h1" },
      ) %>

      <%= f.govuk_submit t(".continue") %>
    </div>
  </div>
<% end %>
