*.log
.DS_Store
.bundle
.env
.env.local
.env.*.local
.envrc
.idea
.vscode
.byebug_history
config/master.key
db/*.sqlite3
node_modules
public/assets

app/assets/builds/*
!app/assets/builds/.keep

log/*
!log/.keep

tmp/*
!tmp/.keep

tmp/pids/*
!tmp/pids/
!tmp/pids/.keep

coverage/

.yarn/*
# Ignore terraform files
bin/terrafile
.terraform
terraform/application/vendor
terraform/domains/environment_domains/vendor
terraform/domains/infrastructure/vendor
terraform.tfstate*

# Brewfile.lock.json is machine-specific
Brewfile.lock.json
