<% content_for(:page_title) { t(".page_title", school_name: @school.name, subject_name: @placement.title) } %>
<%= render "placements/providers/primary_navigation", provider: @provider, current_navigation: :placements %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: :back) %>
<% end %>

<div class="govuk-width-container">
  <%= render "shared/placements/placement_details", school: @school, placement: @placement %>
</div>
