<div class="content-header">
  <div class="content-header-title">
    <h4 class="govuk-heading-s govuk-heading-s govuk-!-margin-bottom-0">
     <%= title %>
    </h4>
  </div>

  <div class="content-header-actions">
    <% actions.each do |action| %>
      <%= action %>
    <% end %>
  </div>
</div>
