<div class="content-header">
  <div class="content-header-title">
    <span class="govuk-heading-s govuk-heading-s govuk-!-margin-bottom-0">
     <%= title %>
    </span>
  </div>

  <div class="content-header-actions">
    <% actions.each do |action| %>
      <%= action %>
    <% end %>
  </div>
</div>
