<% content_for(:before_content) do %>
  <%= primary_navigation do |component| %>
    <% component.with_navigation_item t(".primary_navigation.claims"), "#" %>
    <% component.with_navigation_item t(".primary_navigation.users"), "#" %>
    <% component.with_navigation_item t(".primary_navigation.details"), claims_school_path(@school) %>
  <% end %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

      <%= govuk_summary_list do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".organisation_name")) %>
          <% row.with_value(text: "Hogwarts") %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".uk_provider_reference_number")) %>
          <% row.with_value(text: "fake_uprn") %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".unique_reference_number")) %>
          <% row.with_value(text: 1) %>
        <% end %>
      <% end %>

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Contact details</h2>

      <%= govuk_summary_list do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".email_address")) %>
          <% row.with_value(text: mail_to("contact@example.com", "mary@example.com")) %>
          <% row.with_action(text: t(".change"), visually_hidden_text: t(".email_address"), href: "/contact-details") %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: "Telephone number") %>
          <% row.with_value(text: "0123456789") %>
          <% row.with_action(text: t(".change"), visually_hidden_text: t(".email_address"), href: "/contact-details") %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: "Website") %>
          <% row.with_value(text: link_to("www.hogwarts.com")) %>
          <% row.with_action(text: t(".change"), visually_hidden_text: t(".email_address"), href: "/contact-details") %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".address")) %>
          <% row.with_value do %>
            <p class="govuk-body">
              Hogwarts Castle<br>
              Scotland<br>
              United Kingdom
            </p>
          <% end %>
          <% row.with_action(text: t(".change"), visually_hidden_text: t(".email_address"), href: "/contact-details") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
