<%# locals: (school:, school_contact:) -%>
<% if school_contact.present? %>
  <%= govuk_summary_list(html_attributes: { id: "placement-coordinator-details" }) do |summary_list| %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".name")) %>
      <% row.with_value(text: school_contact.name) %>
      <% row.with_action(text: t(".change"),
                         href: edit_placements_school_school_contact_path(school, school_contact),
                         html_attributes: {
                                 class: "govuk-link--no-visited-state",
                               }) %>
    <% end %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".email_address")) %>
      <% row.with_value(text: school_contact.email_address) %>
      <% row.with_action(text: t(".change"),
                         href: edit_placements_school_school_contact_path(school, school_contact),
                         html_attributes: {
                                 class: "govuk-link--no-visited-state",
                               }) %>
    <% end %>
  <% end %>

  <%= govuk_link_to t(".remove_placement_coordinator"), remove_placements_school_school_contact_path(school, school_contact), class: "app-link app-link--destructive" %>
<% else %>
  <p><%= t(".no_placement_coordinator") %></p>
  <%= govuk_link_to t(".add_placement_coordinator"), new_placements_school_school_contact_path(school), class: "govuk-button" %>
<% end %>
