<%# locals: (school:) -%>
<p class="govuk-body">
  <%= embedded_link_text(
    t(".gias_details",
      link_to: govuk_link_to(t(".gias"),
        "https://www.get-information-schools.service.gov.uk/Guidance/Governance",
      no_visited_state: true)),
  ) %>
</p>

<%= render "placements/organisations/organisation_details", organisation: @school %>
