<div class="govuk-width-container">
  <h1 class="govuk-heading-l"><%= @school.name %></h1>

  <%= render SecondaryNavigationComponent.new do |component| %>
    <% component.with_navigation_item t(".details"), claims_support_school_path(@school.id) %>
    <% component.with_navigation_item t(".users"), claims_support_school_users_path(@school.id) %>
    <% component.with_navigation_item t(".mentors"), "#" %>
    <% component.with_navigation_item t(".providers"), "#" %>
    <% component.with_navigation_item t(".claims"), claims_support_school_claims_path(@school.id) %>
  <% end %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m"><%= t(".heading") %></h2>
    </div>
  </div>
</div>
