<% content_for(:page_title) { t(".users") } %>
<%= render "placements/providers/primary_navigation", provider: @organisation, current_navigation: :users %>

<div class="govuk-width-container">
  <h1 class="govuk-heading-l"><%= t(".users") %></h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= govuk_button_link_to(t(".add_user"), new_add_user_placements_provider_users_path) %>
      <%= render "placements/organisations/users/list", users: @users, organisation: @organisation %>
    </div>
  </div>
</div>
