<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: new_placements_support_provider_path) %>
<% end %>

<div class="govuk-width-container">
  <%= render ProviderOptionsFormComponent.new(
    model: provider_form,
    url: check_provider_option_placements_support_providers_path,
    search_param:,
    providers:,
    back_link: new_placements_support_provider_path,
  ) %>

  <p class="govuk-body">
    <%= govuk_link_to(t(".cancel"), placements_support_organisations_path) %>
  </p>
</div>
