<%= content_for :page_title, sanitize(@provider.name) %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l"><%= @provider.name %></h1>
      <%= render "placements/support/secondary_navigation", organisation: @provider %>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <%= render "placements/organisations/organisation_details", organisation: @provider %>
    </div>
  </div>
</div>
