<%# caption:, school:, mentor:, delete_link: %>
<span class="govuk-caption-l"><%= caption %></span>
<h1 class="govuk-heading-l"><%= t(".are_you_sure") %></h1>

<p class="govuk-body">
  <%= t(".you_will_no_longer", user_name: mentor.full_name) %>
</p>

<%= govuk_button_to t(".delete_mentor"),
  delete_link,
  warning: true,
  method: :delete %>
