<% content_for(:page_title) { t(".title") } %>
<%= render "placements/providers/primary_navigation", provider: @provider, current_navigation: :placements %>

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">Placements for <%= @provider.name %></h1>

  <div class="govuk-grid-row govuk-!-margin-bottom-7">
    <div class="govuk-grid-column-one-third">
      <div class="card">
        <div class="headline-card">
          <h2 class="headline-figure">30 <span class="headline-label">successful candidates</span></h2>
        </div>
        <div class="card-actions">
          <ul class="govuk-list govuk-!-margin-bottom-0">
            <li><a href="#" class="govuk-link govuk-link--no-visited-state">See all candidates</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="card">
        <div class="headline-card">
          <h2 class="headline-figure">34 <span class="headline-label">placements needed</span></h2>
        </div>
        <div class="card-actions">
          <ul class="govuk-list govuk-!-margin-bottom-0">
            <%= govuk_link_to "Find schools", placements_provider_find_index_path(@provider), no_visited_state: true  %>
          </ul>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="card">
        <div class="headline-card">
          <h2 class="headline-figure">26 <span class="headline-label">confirmed placements</span></h2>
        </div>
        <div class="card-actions">
          <ul class="govuk-list govuk-!-margin-bottom-0">
            <li><a href="#" class="govuk-link govuk-link--no-visited-state">See all confirmed placements</a></li>
            <%= govuk_link_to "Schools you work with", placements_provider_partner_schools_path(@provider), no_visited_state: true  %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
