<% render "claims/support/primary_navigation", current: :organisations %>
<% content_for(:before_content) do %>
  <%= govuk_back_link(href: new_claims_support_school_path) %>
<% end %>

<div class="govuk-width-container">
  <%= render OptionsFormComponent.new(
    model: school_form,
    scope: :school,
    url: check_school_option_claims_support_schools_path,
    search_param:,
    records: schools,
    records_klass: "school",
    back_link: new_claims_support_school_path,
  ) %>

  <p class="govuk-body">
    <%= govuk_link_to(t(".cancel"), claims_support_schools_path, no_visited_state: true) %>
  </p>
</div>
