<div class="govuk-width-container">
  <h1 class="govuk-heading-l"><%= @school.name %></h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= govuk_summary_list do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".organisation_name")) %>
          <% row.with_value(text: "Hogwarts") %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".uk_provider_reference_number")) %>
          <% row.with_value(text: "fake_uprn") %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".unique_reference_number")) %>
          <% row.with_value(text: 1) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
