Support / Schools / 1

<ul>
  <li><%= link_to "Organisation Details", claims_support_school_path(params[:id]) %></li>
  <li><%= link_to "Users", claims_support_school_users_path(params[:id]) %></li>
  <li><%= link_to "Claims", claims_support_school_claims_path(params[:id]) %></li>
</ul>
