<%# locals: (mentor:, school:, support: false) -%>
<label class="govuk-label govuk-label--l">
  <span class="govuk-caption-l">
    <%= support ? "#{mentor.full_name} - #{school.name}" : mentor.full_name %>
  </span>
  <%= t(".title") %>
</label>

  <%= simple_format(t(".description", mentor_name: mentor.full_name)) %>

  <ul class="govuk-list">
    <% mentor.placements.where(school:).each do |placement| %>
      <li><%= govuk_link_to(placement.decorate.title, placements_school_placement_path(school, placement), target: "_blank") %></li>
    <% end %>
  </ul>
