<%# locals: (mentor:, school:, support: false) -%>
<label class="govuk-label govuk-label--l">
  <span class="govuk-caption-l"><%= mentor.full_name %></span>
  <%= support ? t(".title_with_school", school_name: school.name) : t(".title") %>
</label>

<p class="govuk-body">
  <%= simple_format(t(".description", mentor_name: mentor.full_name)) %>
</p>
