<%# locals: (mentor:, school:, support: false) -%>
<span class="govuk-caption-l">
  <%= support ? "#{mentor.full_name} - #{school.name}" : mentor.full_name %>
</span>
<h1 class="govuk-heading-l"><%= t(".title") %></h1>

<%= simple_format(t(".description", mentor_name: mentor.full_name)) %>

<ul class="govuk-list govuk-list--bullet">
  <% mentor.mentor_school_placements(school).each do |placement| %>
    <li>
      <%= govuk_link_to(placement.title,
        placements_school_placement_path(school, placement),
        target: "_blank",
        new_tab: true,
        no_visited_state: true) %>
    </li>
  <% end %>
</ul>
