<%# locals: (mentor:, school:, support: false) -%>
<label class="govuk-label govuk-label--l">
  <span class="govuk-caption-l">
    <%= support ? "#{mentor.full_name} - #{school.name}" : mentor.full_name %>
  </span>
  <%= t(".title") %>
</label>

  <%= simple_format(t(".description", mentor_name: mentor.full_name)) %>

  <ul class="govuk-list govuk-list--bullet">
    <% mentor.placements.where(school:).decorate.each do |placement| %>
      <li>
        <% if support %>
          <% placement_link = placements_support_school_placement_path(school, placement) %>
        <% else %>
          <% placement_link = placements_school_placement_path(school, placement) %>
        <% end %>

        <%= govuk_link_to(placement.title,
          placement_link,
          target: "_blank",
          new_tab: true,
          no_visited_state: true) %>
      </li>
    <% end %>
  </ul>
