<% content_for :page_title, t(".title") %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".title") %></h1>

      <% @personas.each do |persona| %>
        <%= render PersonaSignInComponent.new(persona) %>
      <% end %>
    </div>

  </div>
</div>
