<div class="govuk-button-group">
  <%= govuk_button_link_to t(".upload_claims"), upload_claims_support_claims_samplings_path %>
  <%= govuk_button_link_to t(".upload_provider_response"), "", secondary: true %>
</div>
