<% content_for :page_title, t(".page_title") %>
<% render "claims/support/primary_navigation", current: :organisations %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: check_claims_support_school_claim_path(@school, claim_provider_form.claim)) %>
<% end %>

<div class="govuk-width-container">
  <%= render(
    partial: "form",
    locals: {
      claim_provider_form:,
      form_url: claims_support_school_claim_path(@school, claim_provider_form.claim),
      method: :patch,
      school: @school,
    },
  ) %>
</div>
