<%= content_for :page_title, t(".organisations") %>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl"><%= t(".organisations") %></h1>
      <% if @memberships.any? %>
        <ul class="govuk-list">
          <% @memberships.each do |membership| %>
            <li><%= govuk_link_to(membership.name, placements_organisation_path(membership.organisation)) %></li>
          <% end %>
        </ul>
      <% else %>
      <p><%= t(".empty_state") %></p>
      <% end %>
    </div>
  </div>
</div>
