.govuk-heading-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: govuk-spacing(2);
  margin-bottom: govuk-spacing(6);

  .govuk-heading-l {
    margin: 0;
  }
}

.govuk-heading-l,
.govuk-heading-m,
.govuk-heading-s {
  .govuk-tag {
    vertical-align: middle;
  }
}

.govuk-caption-l + .govuk-heading-l {
  padding-top: 0;
}
