.app-phase-banner .govuk-tag {
  color: govuk-colour("white");
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: $govuk-font-weight-bold;
}

.app-phase-banner .govuk-phase-banner--no-border-bottom {
  border-bottom: 0;
}

.app-phase-banner__env--development .govuk-tag {
  background: govuk-colour("dark-grey");
}

.app-phase-banner__env--qa .govuk-tag {
  background-color: govuk-colour("orange");
}

.app-phase-banner__env--staging .govuk-tag {
  background-color: govuk-colour("red");
}

.app-phase-banner__env--beta .govuk-tag {
  background: govuk-colour("blue");
}
