<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= "#{t("organisations")} (#{@schools.size + @providers.size})" %></h1>
    <%= govuk_button_to(t("add_organisation"), new_placements_support_provider_path, method: :get) %>
    <ul class="organisation-search-results">
      <% @schools.each do |school| %>
        <%= render SchoolListItem::View.new(school:) %>
      <% end %>
      <% @providers.each do |provider| %>
        <%= render ProviderListItem::View.new(provider:) %>
      <% end %>
    </ul>
  </div>
</div>
