<% content_for :page_title, t(".page_title") %>
<% render "claims/schools/primary_navigation", school: @school, current: :claims %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: claim_provider_form.back_path) %>
<% end %>

<div class="govuk-width-container">
  <%= render(
    partial: "form",
    locals: {
      claim_provider_form:,
      form_url: claims_school_claim_path(@school, claim_provider_form.claim),
      method: :patch,
      school: @school,
    },
  ) %>
</div>
