<%= content_for :page_title, t(".organisation_details") %>
<%= render "placements/providers/primary_navigation", provider: @provider, current_navigation: :organisation_details %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l"><%= t(".organisation_details") %></h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= render "placements/organisations/organisation_details", organisation: @provider %>
    </div>
  </div>
</div>
