<%# locals: (user: nil, organisation: nil) -%>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= organisation.name %></span>
      <h2 class="govuk-heading-l"><%= user.full_name %></h2>

      <%= govuk_summary_list(actions: false) do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".attributes.users.first_name")) %>
          <% row.with_value(text: user.first_name) %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".attributes.users.last_name")) %>
          <% row.with_value(text: user.last_name) %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".attributes.users.email")) %>
          <% row.with_value(text: user.email) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
