.card {
  border: 1px solid #1d70b8;
}

.card-actions {
  padding:15px;
}

.headline-notify {
  padding:15px;
  font-size:1.1875em;
  background-color: #d5e4f2;
  font-weight: bold;
  display:block;
}

/*
.headline-card, .headline-card:link, .headline-card:visited {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    background-color: #1d70b8;
    color: #FFF;
    padding:15px;
    display: block;
}
*/

.headline-card {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  background-color: #1d70b8;
  color: #FFF !important;
  padding: 2em;
  display: block;
}


.headline-card:active {
  color: #0b0c0c;
  background-color: #ffdd00;
}

.headline-figure {
  font-size:4rem;
  margin:0;
  display:block;
}

.headline-figure .headline-label {
  font-size:1.5rem;
  font-weight: 400;
  display:block;
}
