<% if organisation.claims_grant_conditions_accepted_at %>
  <%= govuk_summary_list(html_attributes: { id: "grant-conditions" }) do |summary_list| %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".agreed_by")) %>
      <% row.with_value(**summary_row_value(value: organisation.claims_grant_conditions_accepted_by&.full_name)) %>
    <% end %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".agreed_on")) %>
      <% row.with_value(**summary_row_value(value: l(organisation.claims_grant_conditions_accepted_at.to_date, format: :long))) %>
    <% end %>
  <% end %>
  <% if current_user.support_user? %>
    <%= govuk_link_to t(".remove_agreement_text"), remove_grant_conditions_acceptance_check_claims_support_school_path(organisation), class: "app-link app-link--destructive" %>
  <% else %>
    <p class="govuk-body"><%= govuk_link_to(t(".funding_link_text"), claims_grant_conditions_path) %></p>
  <% end %>
<% else %>
  <p class="govuk-body"><%= t(".condtions_not_accepted") %></p>
<% end %>
