---
http_interactions:
  - request:
      method: get
      uri: https://www.publish-teacher-training-courses.service.gov.uk/api/public/v1/recruitment_cycles/2025/providers/PROVIDER_CODE
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 404
        message: Not Found
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string:
          '{"errors":[{"status":404,"title":"NOT_FOUND","detail":"The requested
          resource could not be found"}]}'
    recorded_at: Tue, 02 Jan 2024 19:27:28 GMT
recorded_with: VCR 6.2.0
