<% caption = current_user.support_user? ? "#{t(".caption")} #{contextual_text}" : t(".caption") %>
<% content_for :page_title, t(".page_title", trn: wizard.steps[:mentor].trn, contextual_text: caption) %>
<div class="govuk-width-container">
  <span class="govuk-caption-l"><%= caption %></span>
  <h1 class="govuk-heading-l"><%= t(".no_results_found", trn: wizard.steps[:mentor].trn) %></h1>

  <p class="govuk-body">
    <%= t(".help_text") %>
  </p>
    <p class="govuk-body">
      <%= govuk_link_to(t(".change_your_search"), step_path(:mentor)) %>
    </p>
</div>
