<% content_for :breadcrumbs, govuk_breadcrumbs(breadcrumbs: { t("home") => claims_root_path, t(".page_title") => claims_accessibility_path }, collapse_on_mobile: true) %>
<% content_for :page_title, t(".page_title") %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Accessibility statement for Claim funding for mentor training</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        This service is run by the Becoming a Teacher team at the Department for Education. We want as many people as possible to be able to use the service. For example, that means users should be able to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts using browser or device settings</li>
        <li>zoom in up to 400% without the text spilling off the screen</li>
        <li>navigate most of the website using a keyboard or speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

      <p class="govuk-body">We also used a professional content designer to make the website text as simple as possible to understand.</p>

      <p class="govuk-body">
        <%= govuk_link_to("AbilityNet", "https://mcmw.abilitynet.org.uk/") %> has advice on making your device easier to use if you have a disability.
      </p>

      <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>

      <p class="govuk-body">
        The Becoming a Teacher team (DfE) is committed to making Claim funding for mentor training accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
      </p>

      <h2 class="govuk-heading-m">Compliance status</h2>

      <p class="govuk-body">
        The service was designed using the <%= govuk_link_to "GOV.UK design system", "https://design-system.service.gov.uk/" %>, which conforms to the WCAG 2.2 AA standard. To ensure the service fully meets the WCAG 2.2 AA standard, we are currently arranging an accessibility audit. We will update this page following the audit, and publish details of any accessibility issues identified.
      </p>

      <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>

      <p class="govuk-body">
        We are working alongside other government departments and agencies to fix content which fails to meet the Web Content Accessibility Guidelines version 2.2 AA standard.
      </p>

      <h2 class="govuk-heading-m">
        Reporting accessibility problems with Claim funding for mentor training
      </h2>

      <p class="govuk-body">
        If you think we’re not meeting accessibility requirements, or you’d like to access any information in a different format (such as accessible PDF, large print, easy read, audio recording or braille), contact <%= mail_to t("claims.support_email") %>. Include ‘Accessibility issues’ in the subject line of your email.
      </p>

      <h2 class="govuk-heading-m">Enforcement procedure</h2>

      <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the <%= govuk_link_to "Equality Advisory and Support Service (EASS)", "https://www.equalityadvisoryservice.com/" %>.
      </p>

      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>

      <p class="govuk-body">
        This statement was prepared on 18 December 2023. It was last reviewed on 29 April 2024.
      </p>

      <p class="govuk-body">
        This website will be tested against the WCAG 2.2 AA standard. This test of a representative sample of pages will be carried out by the Digital Accessibility Centre (DAC) in July 2024 in conjunction with the School Placements service.
      </p>

      <p class="govuk-body">
        We also used findings from our own testing and user research when preparing this accessibility statement.
      </p>

      <p class="govuk-body">
        Last updated 29 April 2024
      </p>
    </div>
  </div>
</div>
