<% content_for :page_title, "Cookies on Claim funding for mentor training" %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Cookies on Claim funding for mentor training</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        Cookies are small files saved on your phone, tablet or computer when you visit a website.
      </p>

      <p class="govuk-body">
        We use cookies to make Claim funding for mentor training work.
      </p>

      <h2 class="govuk-heading-m">Essential cookies</h2>

      <p class="govuk-body">
        Essential cookies keep your information secure while you use Claim funding for mentor training. We do not need to ask permission to use them.
      </p>

      <%= app_table do |table| %>
        <% table.with_head do |head| %>
          <% head.with_row do |row| %>
            <% row.with_cell(header: true, text: "Name") %>
            <% row.with_cell(header: true, text: "Purpose") %>
            <% row.with_cell(header: true, text: "Expires") %>
          <% end %>
        <% end %>

        <% table.with_body do |body| %>
          <% body.with_row do |row| %>
            <% row.with_cell(text: "_itt_mentor_services_session") %>
            <% row.with_cell(text: "Identify the user of the service") %>
            <% row.with_cell(text: "20 minutes after inactivity") %>
          <% end %>
        <% end %>
      <% end %>

      <p class="govuk-body">
        Read more about how we process personal data in our <%= govuk_link_to("privacy notice", claims_privacy_path) %>.
      </p>

      <p class="govuk-body">
        Last updated 29 April 2024
      </p>
    </div>
  </div>
</div>
