<% content_for :breadcrumbs, govuk_breadcrumbs(breadcrumbs: { t("home") => claims_root_path }, collapse_on_mobile: true) %>
<% content_for :page_title, t(".page_title") %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".page_title") %></h1>

      <p class="govuk-body">
        Read the <%= govuk_link_to "Privacy information: education providers’ workforce, including teachers", "https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers", new_tab: true %>.
      </p>

      <p class="govuk-body">
        <%= govuk_link_to "Section 8.4", "https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers#using-your-data-to-maintain-a-list-of-teachers", new_tab: true %> tells you what we do with you and your mentor’s data when you make contact with us or use this service.
      </p>

      <p class="govuk-body">
        <%= govuk_link_to "Section 4.1", "https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers#using-your-datato-contact-you-for-feedback", new_tab: true %> tells you how we use your data to contact you for feedback.
      </p>
    </div>
  </div>
</div>
